* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #2b283a;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 0.87rem;
  line-height: 1.5;
}

a {
  font-size: 0.75rem;
  text-decoration: underline;
  color: #918e9b;
}

.body-shell {
  background-image: url(../src/images/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 550px;
  background-color: white;
  border-radius: 0.5em;
  margin: 1.25rem 0;
  overflow: hidden;
}

.nav {
  background-color: #96d0d4;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: white;
  & > * {
    padding: 0.25rem;
  }
}

.destinations-list {
  margin: 6.25rem 2.5rem 2.5rem 2.5rem;
}

.destinations-item {
  margin-top: 1.25rem;
  display: flex;
  gap: 20px;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #e2e3e3;
}

.location-logo {
  width: 0.87rem;
}

@media (max-width: 576px) {
  .destinations-item {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.destinations-item__img {
  max-width: 168px;
  height: 222px;
  border-radius: 5px;
}

.destinations-item__content {
  display: flex;
  flex-direction: column;
}

.destinations-content__texts {
  line-height: 0.9;
  display: flex;
}

.destinations-content__texts > img {
  padding-right: 0.25rem;
}

.destinations-content-header__location {
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.destinations-content-header__link {
  text-decoration: underline;
  color: #918e9b;
  margin-left: 0.3rem;
}

.destinations-content__dates {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.8;
  color: #2b283a;
}

.destinations-content__dates > span {
  margin: 0.3rem;
}

.destinations-content__heading {
  margin-top: 0.5rem;
}

@media (max-width: 576px) {
  .destinations-content-header,
  .destinations-content__heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
