* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #2b283a;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 12px;
  line-height: 1.5;
}

a {
  font-size: 10px;
  line-height: 12px;
  text-decoration: underline;
  color: #918e9b;
}

.body-shell {
  /*background-color: #d6d6d4;*/
  background-image: url(../src/images/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 550px;
  background-color: white;
  border-radius: 0.5em;
  margin: 20px 0;
  overflow: hidden;
}

.nav {
  background-color: #96d0d4;
  display: flex;
  justify-content: center;
  padding: 16px;
  color: white;
}

.nav > * {
  padding: 4px;
}

.destinations-list {
  margin: 100px 40px 40px 40px;
}

.destinations-item {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e3e3;
}

@media (max-width: 576px) {
  .destinations-item {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.destinations-item__img {
  max-width: 168px;
  height: 222px;
  border-radius: 5px;
}

.destinations-content__texts {
  font-size: 10px;
  line-height: 12px;
  display: flex;
}

.destinations-content__texts > img {
  padding-right: 4px;
}

.destinations-content-header__location {
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.destinations-content-header__link {
  text-decoration: underline;
  color: #918e9b;
  margin-left: 5px;
}

.destinations-content__dates {
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
}

.destinations-content__dates > span {
  margin: 5px;
}
